.CustomNavbar {
  background: linear-gradient(
    227deg,
    rgba(69, 45, 45, 1) 0%,
    rgba(255, 156, 89, 1) 100%
  );
  box-shadow: 0px 0px 34px 4px rgba(10, 215, 147, 1);
}

.spaceNewsPNG {
  width: 140px;
  margin-right: 20px;
}

.navbar-brand {
  font-weight: 700;
  font-size: 30px !important;
  margin-right: 40px !important;
  text-shadow: 2px -1px 9px rgba(10, 215, 147, 1);
}

.linkNavbar {
  text-decoration: none !important;
  color: rgb(255, 255, 255) !important;
  font-size: 20px !important;
  margin-left: 20px;
  margin-right: 20px;
  text-shadow: 2px 0px 25px rgb(0, 0, 0);
}
